*,* ::before, *::after{
    padding: 0;
    margin: 0;
    
}

.body{
    background-color: #997676;
    font-family: 'Times New Roman', Times, serif;
}

.bg {
    width: 250px;
    max-height: 100%;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    box-sizing: border-box;
    width: 100%;
}
.bg img{
    max-width: 150px;
    padding: 5px;
    box-sizing: border-box;
}

.bg .descripcion{
    font-size: 20px;
    text-align: justify;
    padding: 10px;
}

.center {
    display: grid;
    place-items: center;
}

.precio{
    text-align: center;
    font-size: 20px;
}
.cantidad{
    text-align: center;
    font-size: 24px;
}

h4{
    margin: 10px;
    padding: 20px;
    text-align: center;
}



#contenido{
    background-color: rgb(182, 124, 73);
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;

    color: black;
    height: 100%;
    width: 100%;
}

#pie{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 5px; 
}

.btnRazas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(rgb(245, 245, 245), rgb(33, 33, 33)), linear-gradient(137.48deg, #ceae2f 10%, rgb(201, 122, 38) 45%, #cb3232 67%, #520c0c 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 1rem 0;
}


a{
    text-align: center;
    font-size: 16px;
}

/*evento*/
li a:hover {
    color: rgb(156, 31, 9);
    text-decoration: none;
    list-style: none;
}

