*{
    padding: 0;
    margin: 0;
}

.body{
    background-color: rgb(107, 125, 189);
}

h2{
    margin: 20px;
    padding: 25px;
}

ul {
    text-align: center;
    padding: 0;
    list-style-type: none;
}

img{
    margin: 30px;
    height: 200px;
    width: 200px;
}

li {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

#contenido{
    background-color: rgb(182, 124, 73);
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    color: white;
    max-height: 100%;
}

#aside {
    background-color: cadetblue;
    margin-top: 20px;
    border-radius: 5px;
    border: 2px solid black;
    color: black;
}

#pie{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}



.center {
    display: grid;
    place-items: center;
}

.btnAñadir{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 13rem;
    overflow: hidden;
    height: 3rem;
    background-size: 300% 300%;
    backdrop-filter: blur(1rem);
    border-radius: 5rem;
    transition: 0.5s;
    animation: gradient_301 5s ease infinite;
    border: double 4px transparent;
    background-image: linear-gradient(rgb(49, 102, 133), rgb(33, 33, 33)), linear-gradient(137.48deg, #ceae2f 10%, rgb(201, 122, 38) 45%, #cb3232 67%, #520c0c 87%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 1rem 0;
}


/*evento*/
li a:hover {
    color: rgb(9, 156, 46);
    text-decoration: none;
    list-style: none;
}