*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body{
    background-color: #997676;
    font-family: 'Times New Roman', Times, serif;
}

.bg {
    width: 100%;
    max-height: 100%;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 10px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}
.bg img{
    height: 100px;
}

.bg .descripcion{
    font-size: 20px;
    text-align: justify;
    margin: 20px;
}

.raza{
    text-align: center;
}

.center {
    display: grid;
    place-items: center;
}

#pie{
    background-color: black;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
 
}